# Entornos virtuales
.venv/
venv/
__pycache__/

# Archivos de PyCharm
.idea/

# Carpetas de resultados de simulaciones (para no subir gigas de datos)
calibration_RINGS_*/
results_*/
sweep_DELTA_*/
global_*/
*.csv
*.png